@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: pink;
  background-image: url('https://t3.ftcdn.net/jpg/02/09/86/50/240_F_209865088_zqfgDsrVxF1ERnO1JdXQEyYkg4e7Cjq2.jpg');
}
